<html>
<head>
  <title>Success</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h2>Form Successfully Filled</h2>
  <p>Thank you, <%= name %>! We have received your information.</p>
  <a href="/">Go back to Home</a>
</body>
</html>
